:root {
  --font-family-header: "Oswald", sans-serif;
  --font-family-body: "Source Sans Pro", sans-serif;
  --font-family-handwriting: "Passions Conflict", cursive;

  --christmas-red: #cc231e;
  --christmas-teal: #235e6f;
  --christmas-black: #444;

  --black: #000000;
  --white: #ffffff;
  --off-white: #d1d0d0;
  --light-grey: #f6f6f6;
  --box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  --footer-text-color: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-body);
  color: var(--christmas-black);
}

// rgb(59, 140, 155)
// rgb(6, 44, 88)

section {
  // background: radial-gradient(circle, rgba(15,138,95,1) 0%, rgba(35,94,111,1) 100%);
  background: radial-gradient(
    circle,
    rgb(78, 148, 160) 0%,
    rgb(6, 44, 88) 100%
  );
  height: 100vh;
  width: 100%;
}

h1 {
  font-family: var(--font-family-header);
}

.red {
  color: var(--christmas-red);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  display: block;
}

.card-notice {
  position: absolute;
  bottom: 5%;
  user-select: none;
  color: var(--off-white);
}
